.container{
    width: 100%;
    background-color: white;
    height:100%;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.home-container{
    width: 100%;
}

.same-user{
    margin-top: 15px;

    p span{
        background-color: lightgreen;
        padding: 10px;
        max-width: 400px;
        background-size: cover;
        border-radius: 10px;
        overflow-wrap: break-word;
    }
}

span .edited-message{
    background-color: lightgreen;
    padding: 10px;
    max-width: 400px;
    background-size: cover;
    border-radius: 10px;
    overflow-wrap: break-word;
}
.no_user {
    margin-top: 25px;
    p span{
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    max-width: 400px;
    background-size: cover;
    border-radius: 10px;
    overflow-wrap: break-word;
}
}


.chat-footer{
    position: absolute;
    height: 80px;
    left: -10px;
    bottom: -10px;
    right: -10px;
    margin: 10px;
    background-color: #EDEDED;
    padding: 25px;
}

h2{
    cursor: pointer;
}

.chat-box{
    background-color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url('../../../assets/images/whatsApp.jpg');
}

.chat-header {
    height: 80px;
    background-color: #EDEDED;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 10px;
    gap: 4%;
}

.chat-header p{
 font-size: 16px;
 font-weight: bold;
 margin-top: 10px;
}

.group-header{
    height: 80px;
    background-color: #EDEDED;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    gap: 4%;
    
}

.chat-content{
    padding: 0 20px 0 20px;
}

.message-container
{
    height: 636px;
    max-height: 650px;
    overflow: scroll;

}
.chat-content ::-webkit-scrollbar{
    display: none;
}

mat-icon{
    cursor: pointer;
    color: gray;
}

.message-container .same-user p{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.deleted-message{
    background-color: lightgreen;
    padding: 10px;
    max-width: 200px;
    margin: 10px;
    background-size: cover;
    border-radius: 10px;
    color: gray;
    font-style: italic;

}


.loggedIn-user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    box-shadow: 0px 0px 5px black ;
    mat-icon{
        margin-top: -20px;
    }
}

.userList{
    margin-top: 15px;
    padding-left: 20px;
}

.col-lg-4,.col-md-4{
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.col-lg-8,.col-md-8{
    padding-left: 2px !important;
    background-image: url('../../../assets/images/whatsApp.jpg');
    height: 100vh;
}

.group-header{ 
.left-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    float: left;
    justify-content: center;
    align-items: center;
}
}

.group-header .right-container{
    float: right;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.groupContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;

}


